<h1>Problema de la dieta de Stigler</h1>

<h2>Resultado</h2>
{% if results_list %}
  <ul>
  {% for result in results_list %}
    <p>{{ result }}</p>
  {% endfor %}
  </ul>
  </br>
  <b>Precio óptimo anual: {{ optimal_annual_price }}</b>
{% else %}
    <p>{{ error }}</p>
{% endif %}
</br>
{% if times|length > 1 %}
  <b>Tiempo medio: {{ mean }}</b>
  <ul>
    {% for time in times %}
      <p>Tiempo {{ forloop.counter }}: {{ time }}</p>
    {% endfor %}
  </ul>
{% else %}
  <b>Tiempo: {{ mean }}</b>
{% endif %}

<h2>Muestreo</h2>
<b>Nutrientes mínimos diarios recomendados (hombre adulto):</b>
  <ul>
    {% for min in nutrient_minimus %}
      <b>{{ min.0 }}:</b> <span>{{min.1 }}</span>
    {% endfor %}
  </ul>
</br>
<table>
  <tr>
    {% for e in columns_names %}
      <th>{{ e }}</th>
    {% endfor %}
  </tr>
  {% for food in foods %}
  <tr>
    {% for e in food %}
      {% if forloop.counter > 1 %}
        <td>{{ e|floatformat:2 }}</td>
      {% else %}
        <td>{{ e }}</td>
      {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>
